[ModuleAction:{ controlKey : "Edit", 
                securityAccessLevel : "Edit",  
                title: "Edit",
                titleKey: "EditModule",
                localResourceFile: "~/DesktopModules/<%= namespace %>/<%= moduleName %>/App_LocalResources/View.resx"
}]
<div id="<%= namespace.toLowerCase() %><%= moduleName %>" data-moduleid="[ModuleContext:ModuleId]"></div>
[CSS:{ path: "~/DesktopModules/<%= namespace %>/<%= moduleName %>/Resources/module.css"}]
[JavaScript:{ path: "~/DesktopModules/<%= namespace %>/<%= moduleName %>/Resources/scripts/app-bundle.js", provider: "DnnFormBottomProvider"}]
