@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Web.Mvc.Helpers

@{
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/<%= namespace %>/<%= moduleName %>/Resources/bootstrap/css/bootstrap.min.css");
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/<%= namespace %>/<%= moduleName %>/Resources/bootstrap/js/bootstrap.min.js", 50);
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/<%= namespace %>/<%= moduleName %>/Resources/module.css");
}

@{
    ViewBag.Title = "Edit Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Editor Controls Go Here</h2>
    </div>
</div>