[ModuleAction:{ controlKey : "Edit", 
                securityAccessLevel : "Edit",  
                titleKey: "EditModule"
}]
<div id="<%= namespace.toLowerCase() %><%= moduleName %>" data-moduleid="[ModuleContext:ModuleId]"></div>
[CSS:{ path: "/DesktopModules/<%= namespace %>/<%= moduleName %>/Resources/bootstrap/css/bootstrap.min.css"}]
[CSS:{ path: "/DesktopModules/<%= namespace %>/<%= moduleName %>/Resources/module.css"}]
[JavaScript:{ path: "/DesktopModules/<%= namespace %>/<%= moduleName %>/Resources/js/app.js", provider: "DnnFormBottomProvider"}]
